*
!.gitignore
!.profile
!.zshrc
!.config
!.config/i3
!.config/i3/config
!.config/i3/scripts
!.config/i3/scripts/*
!.doom.d
!.doom.d/init.el
!.doom.d/*.org
!.local
!.local/share/
!.local/share/applications
!.local/share/applications/sway.desktop
