[Desktop Entry]
Categories=Utility;WindowManager;
Comment=Start Sway Tiling Window Manager in a window
TryExec=sway
Exec=env WLR_NO_HARDWARE_CURSORS=1 sway
GenericName=Window Manager
Icon=/usr/share/doc/i3/logo-30.png
Keywords=Text;editor;
Name=Sway
StartupNotify=false
Terminal=false
Type=Application
